<h2>DEMANDA <a href="/calendario">Voltar</a></h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="turmaTabs" role="tablist">
    {{#each turmas}}
        <li class="nav-item" role="presentation">
            <button class="nav-link {{#if @first}}active{{/if}}" id="tab-{{id}}" data-bs-toggle="tab" data-bs-target="#turma-{{id}}" type="button" role="tab">
                {{descricao}}
            </button>
        </li>
    {{/each}}
</ul>

<!-- Tab panes -->
<div class="tab-content mt-3">
    {{#each turmas}}
        <div class="tab-pane fade {{#if @first}}show active{{/if}}" id="turma-{{id}}" role="tabpanel">
            <table class="table table-striped">
                <tr>
                    <th>DIÁRIO</th>
                    <th>AULAS</th>
                    <th>PROFESSOR</th>
                    <th></th>
                </tr>
                {{#each this.diarios}}
                    <tr>
                        <td>{{this.descricao}}</td>
                        <td>{{this.aulas}}</td>
                        <td>{{this.professor.nome}}</td>
                        <td>
                            <a href="#" class="btn btn-outline-primary btn-sm">Editar</a>
                        </td>
                    </tr>
                {{/each}}
            </table>

            <!-- Você pode colocar mais dados da turma aqui -->
        </div>
    {{/each}}
</div>