<div class="container-sm">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <h4>Calendários Acadêmicos</h4>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ms-2">
                        {{#if (igual usuario.categoria 3)}}
                            <a href="/calendario/cadastrar" class="btn btn-outline-dark"><i class="fa-solid fa-plus"></i> Novo</a>
                        {{/if}}
                        <a href="/principal" class="btn btn-outline-dark"><i class="fa-solid fa-chevron-left"></i> Voltar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mx-auto">

        <table class="table table-hover">
            <tr>
                <th>DESCRIÇÃO</th>
                <th>ANO</th>
                <th>SEMESTRE</th>
                <th>INÍCIO</th>
                <th>FIM</th>
                <th>STATUS</th>
                <th></th>
            </tr>
            {{#each calendarios}}
                <tr>
                    <td>{{descricao}}</td>
                    <td>{{ano}}</td>
                    <td>{{semestre}}</td>
                    <td>{{formatDate inicio}}</td>
                    <td>{{formatDate fim}}</td>
                    <td>{{status}}</td>
                    <td>
                        <a class="btn btn-outline-secondary btn-sm" href="/calendario/gerenciar/{{id}}">Abrir</a>
                        <a class="btn btn-outline-primary btn-sm" href="/calendario/demanda/{{id}}/0">Demanda</a>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar Dia Letivo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/dia/salvar">
            <div class="modal-body">


                    <input name="calendario_id" value="{{calendario.id}}" hidden="hidden">

                    <label for="">DATA</label>
                    <input type="date" class="form-control w-50" name="data">

                    <label>DIA</label>
                    <select name="dia" class="form-select">
                        <option value="0">Segunda</option>
                        <option value="1">Terça</option>
                        <option value="2">Quarta</option>
                        <option value="3">Quinta</option>
                        <option value="4">Sexta</option>
                        <option value="5">Sábado</option>
                      </select>


            </div>
            <div class="modal-footer">
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
            </form>
        </div>
    </div>
</div>