<div class="container-sm">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <h4>Professores</h4>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ms-2">
                        {{#if (igual usuario.categoria 3)}}
                            <button type="button" class="btn btn-outline-primary " data-bs-toggle="modal" data-bs-target="#cadastroModal">
                                Novo
                            </button>
                        {{/if}}
                    </li>
                    <li class="nav-item ms-2">
                        <a href="/principal" class="btn btn-outline-dark"><i class="fa-solid fa-chevron-left"></i> Voltar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <table class="table table-striped">
        <tr>
            <th>SIAPE</th>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th>CATEGORIA</th>
            <th></th>
        </tr>

        {{#each professores}}
        <tr>
            <td>{{this.siape}}</td>
            <td>{{this.nome}}</td>
            <td>{{this.email}}</td>
            <td>{{categoriaUsuario this.usuario.categoria}}</td>

            <td class="">
                {{#if (igual ../usuario.categoria 3)}}

                    <button type="button" class="btn btn-sm btn-outline-dark btn-editar" data-id="{{this.usuario.id}}" data-categoria="{{this.usuario.categoria}}" data-nome="{{this.nome}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-circle-up"></i> Promover
                    </button>

                    {{#if (igual status 1)}}
                        <a href="/professor/desativar/{{id}}" class="btn btn-sm btn-outline-danger"><i class="fa-regular fa-circle-xmark"></i> Desativar</a>
                    {{/if}}
                    {{#if (igual status 0)}}
                        <a href="/professor/ativar/{{id}}" class="btn btn-sm btn-outline-success"><i class="fa-regular fa-circle-check"></i> Ativar</a>
                    {{/if}}
                {{/if}}

            </td>
        </tr>
        {{/each}}

    </table>

</div>

<!-- CADASTRAR -->
<div class="modal fade" id="cadastroModal" tabindex="-1" aria-labelledby="cadastroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">CADASTRO DE PROFESSOR</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/professor/salvar" method="post">
                <div class="modal-body">
                    <div class="form-group mb-3 w-50">
                        <label for="siape">SIAPE</label>
                        <input type="text" class="form-control" id="siape" name="siape" placeholder="Digite o Siape">
                    </div>
                    <div class="form-group mb-3">
                        <label for="nome">NOME DO PROFESSOR</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Digiter o nome do professor">
                    </div>
                    <div class="form-group">
                        <label for="email">E-MAIL INSTITUCIONAL</label>
                        <input type="text" name="email" id="email" class="form-control" placeholder="Digite o e-mail">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Promover Professor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/usuario/promover" method="post">
                <div class="modal-body">

                        <input id="id" name="id" hidden="hidden">
                        <input type="text" name="nome" id="nomeprofessor" class="form-control mb-3">
                        <select name="categoria" id="categoria" class="form-select">
                            <option value="1">Docente</option>
                            <option value="2">Coordenador</option>
                            <option value="3">Departamento de Ensino</option>
                        </select>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const btnEditar = document.querySelectorAll('.btn-editar');

        btnEditar.forEach(btn => {
            btn.addEventListener('click', () => {
                const id = btn.getAttribute('data-id');
                const nome = btn.getAttribute('data-nome');
                const categoria = btn.getAttribute('data-categoria')

                document.getElementById('id').value = id;
                document.getElementById('nomeprofessor').value = nome

                const select = document.getElementById('categoria');
                select.value = categoria;

            });
        });
    });
</script>