<div class="container-sm">
    <nav class="navbar bg-body-tertiary container-sm mb-2">
        <div class="container-fluid">
            <h4>Professores</h4>
            <a href="/principal" class="btn btn-outline-dark"><i class="fa-solid fa-chevron-left"></i>Voltar</a>
        </div>
    </nav>
    <table class="table table-striped">
        <tr>
            <th>SIAPE</th>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th>CATEGORIA</th>
            <th></th>
        </tr>

        {{#each professores}}
        <tr>
            <td>{{siape}}</td>
            <td>{{nome}}</td>
            <td>{{email}}</td>
            <td>{{categoriaUsuario usuario.categoria}}</td>

            <td class="">
                {{#if (igual usuario.categoria 1)}}
                    <a href="/usuario/promover/{{usuario.id}}" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-key"></i> Promover</a>
                {{/if}}

            </td>
        </tr>
        {{/each}}

    </table>

</div>