<div class="col-md-5 mx-auto mb-2 shadow pb-2 mt-1" id="formulario">
    <div class="row p-3">
        <h3 class="col-10">
            Registrar Permuta
        </h3>
        <div class="col-2 d-flex justify-content-end">
            <form method="post" action="/permuta/listar">
                <input hidden="hidden" type="text" value="{{diario.professor.siape}}" name="busca">
                <button type="submit" href="/permuta/listar" class="btn btn-outline-dark"><i class="fa-solid fa-chevron-left"></i> Voltar</button>
            </form>

        </div>
    </div>
    <div class="container">
        <form method="post" action="/permuta/cadastrar">
            <label>PROFESSOR</label>
            <input type="text" name="professor" value="{{diario.professor.nome}}" class="form-control mb-2" disabled>
            <label>CURSO</label>
            <input type="text" name="curso" value="{{diario.turma.curso.descricao}}" class="form-control mb-2" disabled>
            <div class="row">
                <div class="col">
                    <label>TURMA</label>
                    <input type="text" name="turma" value="{{diario.turma.descricao}}" class="form-control mb-2" disabled>
                </div>
                <div class="col">
                    <label>DIÁRIO</label>
                    <input hidden="hidden" type="text" value="{{diario.id}}" name="id_diario">
                    <input type="text" value="{{diario.descricao}}" name="diario" class="form-control mb-2" disabled>
                </div>
            </div>
            <hr>
            <div class="row mb-2">
                <div class="col-3">
                    <label>DATA</label>
                    <input type="date" id="data" name="data" class="form-control">

                </div>
                <div class="col-5">
                    <label class="d-block mb-2">HORARIOS</label>
<!--                    <select id="horarios" name="horarios" class="form-select" onchange="verHorarios()">-->
<!--                    {{#each (defineHorario diario.horario)}}-->
<!--                        <option value="{{this}}">{{this}}</option>-->
<!--                    {{/each}}-->

<!--                    </select>-->

                    <span class="me-1"><input type="checkbox" name="primeiro" value="1"> 1º</span>
                    <span class="me-1"><input type="checkbox" name="segundo" value="2"> 2º</span>
                    <span class="me-1"><input type="checkbox" name="terceiro" value="3"> 3º</span>
                    <span class="me-1"><input type="checkbox" name="quarto" value="4"> 4º</span>
                    <span class="me-1"><input type="checkbox" name="quinto" value="5"> 5º</span>
                    <span class="me-1"><input type="checkbox" name="sexto" value="6"> 6º</span>
                </div>
                <div class="col-4">
                    <label>TURNO</label>
                    <select class="form-select" name="turno">
                        <option value="M">Matutino</option>
                        <option value="V">Vespertino</option>
                        <option value="N">Noturno</option>
                    </select>
                </div>
                <label for="exampleTextarea" class="form-label mt-3">JUSTIFICATIVA</label>
                <textarea class="form-control mx-2" name="justificativa" style="width: 98%" rows="5" placeholder="Escreva algo..."></textarea>
            </div>
            <hr>
            <label>SUBSTITUTO</label>
            <select id="substituto" name="substituto" class="form-select">
                <option value="0">Sem substituto - Apenas Solicitar Liberação</option> <!-- Opção em branco -->
                {{#each substitutos}}
                    {{#if (diferente ../diario.professor.id professor.id)}}
                        <option value="{{id}}"><strong>{{descricao}}</strong> - {{professor.nome}}</option>
                    {{/if}}
                {{/each}}
            </select>

            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>

        </form>
    </div>
</div>

<script>
    // Obter a data atual
    const today = new Date();

    // Formatar a data no padrão YYYY-MM-DD
    //const formattedDate = today.toISOString().split('T')[0];

    // Extrair os componentes da data no fuso horário local
    const year = today.getFullYear();
    const month = String(today.getMonth() + 1).padStart(2, '0'); // Mês é zero-based
    const day = String(today.getDate()).padStart(2, '0');

    const formattedDate = `${year}-${month}-${day}`;

    // Atribuir a data formatada ao input
    document.getElementById('data').value = formattedDate;

</script>

