<div class="col-md-5 mx-auto mb-2 shadow pb-2 mt-1" id="formulario">
    <div class="row p-3">
        <h3 class="col-10">
            Nova Permuta de Aula
        </h3>
        <div class="col-2 d-flex justify-content-end">
            <a href="/permuta/listar" class="btn btn-outline-dark">Voltar</a>
        </div>
    </div>
    <div class="container">
        <form>
            <label>PROFESSOR</label>
            <input type="text" name="professor" value="{{diario.professore.nome}}" class="form-control mb-2" disabled>
            <label>CURSO</label>
            <input type="text" name="curso" value="{{diario.turma.curso.descricao}}" class="form-control mb-2" disabled>
            <div class="row">
                <div class="col">
                    <label>TURMA</label>
                    <input type="text" name="turma" value="{{diario.turma.descricao}}" class="form-control mb-2" disabled>
                </div>
                <div class="col">
                    <label>DIÁRIO</label>
                    <input type="text" value="{{diario.descricao}}" name="diario" class="form-control mb-2" disabled>
                </div>
            </div>
            <hr>
            <div class="row mb-2">
                <div class="col-3">
                    <label>DATA</label>
                    <input type="date" name="data" class="form-control">
                </div>
                <div class="col-8 ms-5">
                    <label class="d-block">HORARIOS</label>
                    {{#each (defineHorario diario.horario)}}
                        <input type="checkbox" class="form-check-input" name="horario" value="1"> {{this}}
                    {{/each}}
                </div>
                <label for="exampleTextarea" class="form-label mt-3">JUSTIFICATIVA</label>
                <textarea class="form-control mx-2" style="width: 98%" rows="5" placeholder="Escreva algo..."></textarea>
            </div>
            <hr>
            <H5>Devolução</H5>
            <input type="radio"> Estou cobrindo um horário vago

        </form>
    </div>
</div>