<nav class="navbar bg-body-tertiary container-sm mb-2">
    <div class="container-fluid">
        <h4>Permutas</h4>
        <a href="/principal" class="btn btn-outline-dark"><i class="fa-solid fa-chevron-left"></i> Voltar</a>
    </div>
</nav>

<div class="container-sm">
    <div class="d-flex justify-content-center w-25 mx-auto">
        <div class="me-3">FILTRO: </div>
        <select class="form-select" id="status" onchange="filtrar()">
            <option>Todas</option>
            <option>Em Aberto</option>
            <option>Pendente</option>
            <option>Finalizada</option>
        </select>
    </div>
    {{#each permutas}}

        <div id="linha" class="p-3 m-3 border rounded rounded-1" style="background-color: {{corPermuta status}}">

            <ul class="nav justify-content-end mb-3">


                {{#if (igual status 1)}}
                    <li class="nav-item">
                        <a class="btn btn-sm btn-outline-dark me-2" href="/permuta/fechar/{{id}}"><i class="fa-solid fa-lock"></i> Fechar</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-sm btn-outline-dark me-2" href="https://suap.ifma.edu.br/edu/definir_horario_aula_diario/{{substituto.codigo}}" target="_blank"><i class="fab fa-speakap"></i> SUAP</a>
                    </li>
                {{/if}}
                {{#if (igual status 0)}}
                    <li class="nav-item">
                        <a class="btn btn-sm btn-outline-dark me-2" href="/permuta/abrir/{{id}}"><i class="fa-solid fa-lock-open"></i> Abrir</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-sm btn-outline-dark me-2" href="#"><i class="fa-solid fa-trash-can"></i> Excluir</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-sm btn-outline-dark me-2" href="https://suap.ifma.edu.br/edu/definir_horario_aula_diario/{{substituto.codigo}}" target="_blank"><i class="fab fa-speakap"></i> SUAP</a>
                    </li>
                {{/if}}

            </ul>

            <div class="row mb-3">
                <div class="col-sm">
                    <strong>DIÁRIO</strong>: {{diario.descricao}}
                </div>
                <div class="col-sm">
                    <strong>PROFESSOR</strong>: {{diario.professor.nome}}
                </div>
                <!--COLUNA DO PROFESSOR-->
            </div>
            <div class="row">
                <div class="col-sm">
                    <strong>TURMA</strong>: {{diario.turma.descricao}}
                </div>
                <div class="col-sm">
                    <strong>DATA</strong>: {{formatDate data}}
                </div>
                <div class="col-sm">
                    <strong>DIA</strong>: {{dia}}
                </div>
                <div class="col-sm">
                    <strong>HORARIOS: </strong>{{horarios}}
                </div>
            </div>

            <hr>
            <strong>Dados do Substituto</strong>
            <div class="row mb-3 mt-2">
                <div class="col-sm-5">
                    <strong>DIÁRIO</strong>: {{substituto.descricao}}
                </div>
                <div class="col-sm-5">
                    <strong>PROFESSOR</strong>: {{substituto.professor.nome}}
                </div>
                <div class="col-sm-2">
                    <strong>STATUS: </strong> {{statusPermuta status}}
                </div>
                <!--COLUNA DO PROFESSOR-->
            </div>
            <strong>JUSTIFICATIVA: </strong> {{justificativa}}
        </div>
    {{/each}}

</div>

<script>
    function filtrar(){
        var select = document.getElementById('status')
        alert(select.value)
    }
</script>
