<style>
    .mouse:hover{
        background-color: darkgray;
    }
</style>
<nav class="navbar bg-body-tertiary container-sm mb-2">
    <div class="container-fluid">
        <h4 href="#">Permutas</h4>
        <a href="/principal" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-chevron-left"></i> Voltar</a>
<!--        <form method="post" action="/permuta/listar">-->
<!--            <input type="number" value="{{professor.siape}}" name="busca" hidden="hidden">-->
<!--            <button type="submit" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-chevron-left"></i> Voltar</button>-->
<!--        </form>-->
    </div>
</nav>

<div class="container-sm">
<!--    <div class="border border-1 p-3 w-25 mx-auto">-->
<!--        <form action="/permutas/minhas" method="post">-->
<!--            <label>STATUS</label>-->
<!--            <input value="{{professor.id}}" name="id" class="d-none">-->
<!--            <select class="form-select w-50 d-inline" name="busca">-->
<!--                <option value="0">Em aberto</option>-->
<!--                <option value="1">Pendente</option>-->
<!--                <option value="2">Finalizado</option>-->
<!--            </select>-->
<!--            <button class="btn btn-sm btn-success d-inline">Filtrar</button>-->
<!--        </form>-->
<!--    </div>-->

        {{#each permutas}}

            <div id="linha" class="p-3 m-3 border rounded rounded-1" style="background-color: {{corPermuta status}}">
                <div class="row mb-3">
                    <div class="col-sm">
                        <strong>DIÁRIO</strong>: {{substituto.descricao}}
                    </div>
                    <div class="col-sm">
                        <strong>PROFESSOR</strong>: {{substituto.professor.nome}}
                    </div>
                    <!--COLUNA DO PROFESSOR-->
                </div>
                <div class="row">
                    <div class="col-sm">
                        <strong>TURMA</strong>: {{substituto.turma.descricao}}
                    </div>
                    <div class="col-sm">
                        <strong>DATA</strong>: {{formatDate data}}
                    </div>
                    <div class="col-sm">
                        <strong>DIA</strong>: {{dia}}
                    </div>
                    <div class="col-sm">
                        <strong>HORARIOS: </strong>{{horarios}}
                    </div>
                </div>

                <hr>
                <strong>Dados do Substituído</strong>
                <div class="row mb-3 mt-2">
                    <div class="col-sm-5">
                        <strong>DIÁRIO</strong>: {{diario.descricao}}
                    </div>
                    <div class="col-sm-5">
                        <strong>PROFESSOR</strong>: {{diario.professor.nome}}
                    </div>
                    <div class="col-sm-2">
                        <strong>STATUS: </strong> {{statusPermuta status}}
                    </div>
                    <!--COLUNA DO PROFESSOR-->
                </div>
            </div>

        {{/each}}

</div>